
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hide{
  display: none;
}
#postListContainer{
  width: 100%;
  margin: 0 auto;
  max-width: 780px;
}
.post {
  padding: .5rem;
  margin: 0 .5rem 2rem;
  border-bottom: .8rem solid #000;
  font-family: sans-serif;
}
.postTitle {
  font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
  color: #fff;
  padding: .5rem 2rem;
  font-size: 2.5rem;
  letter-spacing: .3rem;
}
.postContent {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.postMediaContainer {
  text-align: center;
}
.postMedia {
  width: 100%;
  height: 360px;
  margin: auto;
}
.tagElement {
    color: hsl(200, 50%, 10%);
    font-weight: bold;
    text-decoration: none;
    padding: .2rem;
    font-size: .9rem;
    line-height: 2rem;
}

.tagElement:hover {
    color: #fff;
    background-color: black;
}

iframe.postMedia{
  min-height: 113px;
}

@media only screen and (max-width: 480px) {
    .postTitle{
      font-size: 1.8rem;
      letter-spacing: initial;
      padding: .5rem;
      font-weight: normal;
      word-break: break-all;
    }
    .postMedia {
      height: 203px;
      width:100%;
      max-width: 360px;
      margin: auto;
    }

}
