
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hide{
  display: none;
}
#postListContainer{
  width: 100%;
  margin: 0 auto;
  max-width: 780px;
}
.post {
  padding: .5rem;
  margin: 0 .5rem 2rem;
  border-bottom: .8rem solid #000;
  font-family: sans-serif;
}
.postTitle {
  font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
}
.postMediaContainer {
  text-align: center;
}
.postMedia {
  width: 100%;
  height: 360px;
  margin: auto;
}
iframe.postMedia{
  min-height: 113px;
}
@media only screen and (max-width: 480px) {
    .postMedia {
      height: 203px;
      width: 360px;
      margin: auto;
    }
}
